/* GLOBAL */
.section-title {
  text-align: center;
  font-size: 30px;
}

.section-subtitle {
  text-align: center;
  margin-bottom: 80px;
}

.navigation ul li {
  display: inline-block;
  padding: 0 30px;
  font-size: 13px;
}

.navigation ul li a {
  text-decoration: none;
}

.navigation .nav-title {
  color: gold;
}

.splash {
  background-image: url("https://images.pexels.com/photos/4992673/pexels-photo-4992673.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=450&w=1080");
  min-height: 500px;
  position: relative;
}

.splash .splash-inner {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  text-align: center;
}

.services {
  padding: 50px 0;
}

.services .service-description {
  text-align: center;
}

.services .service-description .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}

.services .service-description .icon i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffd32a;
  border: 3px solid #ffd32a;
  border-radius: 50%;
  width: 65px;
  height: 65px;
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Nhc3Mvc3R5bGUuc2NzcyIsInN0eWxlLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQSxXQUFBO0FBSUE7RUFDSSxrQkFBa0I7RUFDbEIsZUFBZTtBQ0ZuQjs7QURLQTtFQUNJLGtCQUFrQjtFQUNsQixtQkFBbUI7QUNGdkI7O0FES0E7RUFFUSxxQkFBcUI7RUFDckIsZUFBZTtFQUNmLGVBQWU7QUNIdkI7O0FEREE7RUFNWSxxQkFBcUI7QUNEakM7O0FETEE7RUFVUSxXQUFXO0FDRG5COztBRElBO0VBQ0ksd0lBQXdJO0VBQ3hJLGlCQUFpQjtFQUNqQixrQkFBa0I7QUNEdEI7O0FERkE7RUFLUSxrQkFBa0I7RUFDbEIsUUFBUTtFQUNSLFVBQVU7RUFDViwrQkFBK0I7RUFDL0Isa0JBQWtCO0FDQzFCOztBREVBO0VBQ0ksZUFBZTtBQ0NuQjs7QURGQTtFQUdRLGtCQUFrQjtBQ0cxQjs7QUROQTtFQUtZLGFBQWE7RUFDYix1QkFBdUI7RUFDdkIsbUJBQW1CO0VBQ25CLGVBQWU7QUNLM0I7O0FEYkE7RUFVZ0IsYUFBYTtFQUNiLHVCQUF1QjtFQUN2QixtQkFBbUI7RUFDbkIsY0FsREc7RUFtREgseUJBbkRHO0VBb0RILGtCQUFrQjtFQUNsQixXQUFXO0VBQ1gsWUFBWTtBQ081QiIsImZpbGUiOiJzdHlsZS5jc3MifQ== */