/* GLOBAL */
$color-one: #ffffff;
$color-two: #ffd32a;
$font-one: 'Roboto Condensed', sans-serif;
$font-two: 'Dosis', sans-serif;

body{
    margin: 0;
}
.section-title{
    text-align: center;
    font-size: 30px;
    font-family: $font-one;
}

.section-subtitle{
    text-align: center;
    margin-bottom: 80px;
    text-decoration: wavy;
    font-family: $font-two;
    font-style: italic;
}

.page-title{
    color: $color-one;
    font-family: $font-one;
    font-size: 45px;
}

.page-subtitle{
    color: $color-one;
    font-family: $font-two;
    font-size: 25px;
    font-style: italic;
}

.service-title{
    font-family: $font-one;
}

.service-description{
    font-family: $font-two;
}

/* NAVIGATION */

.navigation{
    .nav-title{
        color: $color-two;
        font-family: 'Dancing Script', cursive;
        font-style: italic;
    }

    ul li{
        display: inline-block;
        padding: 0 30px;
        font-size: 13px;
        color: $color-one;
        a{
            text-decoration: none;
            color: $color-one;
        }
    }
}

/*SPLASH*/

.splash{
    background-image: url("https://images.pexels.com/photos/4992673/pexels-photo-4992673.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=450&w=1080");
    min-height: 500px;
    position: relative;
    .splash-inner{
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        text-align: center;
        .splash-button{
            min-width: 16px;
            margin: 24px auto 0 auto;
            padding: 16px 25px;
            border-radius: 5px;
            font-size: 21px;
            font-family: $font-one;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            background-color: $color-two;
            color: $color-one;
        }
    }
}


/* SERVICES */ 

.services{
    padding: 60px;
    .service-description{
        text-align: center;
        .icon{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 35px;
            i{
                display: flex;
                justify-content: center;
                align-items: center;
                color: $color-two;
                border: 3px solid $color-two;
                border-radius: 50%;
                width: 65px;
                height: 65px;
            }
        }
    }
}

/* PORTFOLIO */

.portfolio{
    background-color: #dfe6e9;
    padding: 60px;
}
.element{
    padding: 0;
    margin: 0 0 35px;
    background-color: #ffffff;
    .element-title{
        text-align: center;
        line-height: 5px;
        padding: 10px;
    }
    img{
        width: 100%;
        height: 300px;
        }
}   

/* FOOTER */

.page-footer{
    padding: 5px 0;
    .footer-text{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .icons{
        display: flex;
        justify-content: start;
        align-items: center;
    }
    ul{
        text-align: center;
        list-style-type: none;
        li{
            font-size: 0;
            display: inline-block;
        }
        a{
            text-decoration: none;
        }
        i{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            border-radius: 50%;
            padding: 0 10px;
            background-color: black;
            width: 40px;
            height: 40px;
            margin: 0 5px;
            color: #ffffff;
        }
    }
}