/* GLOBAL */
$color-one: #ffffff;
$color-two: #ffd32a;

.section-title{
    text-align: center;
    font-size: 30px;
}

.section-subtitle{
    text-align: center;
    margin-bottom: 80px;
}

.navigation{
    ul li{
        display: inline-block;
        padding: 0 30px;
        font-size: 13px;
        a{
            text-decoration: none;
        }
    }
    .nav-title{
        color: gold;
    }
}
.splash{
    background-image: url("https://images.pexels.com/photos/4992673/pexels-photo-4992673.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=450&w=1080");
    min-height: 500px;
    position: relative;
    .splash-inner{
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        text-align: center;
    }
}
.services{
    padding: 50px 0;
    .service-description{
        text-align: center;
        i{
            font-size: 35px;
            color: $color-two;
            border: 3px solid $color-two;
            border-radius: 50%;
            width: 65px;
            height: 65px;
        }
    }
}